@model BackendAdmin.Models.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProyecto">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
