@{
    ViewData["Title"] = "Panel del Administrador";
}

<div class="text-center">
    <div class="container mt-5 bg-body-secondary">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-center">
                    <h1 class="display-4"><i class="bi bi-code-slash"></i> Administrador de Tareas <i class="bi bi-code-slash"></i></h1>
                    <p class="lead">Integrantes: Erick Criollo, Diego Jiménez, Jimena Tutillo</p>
                    <p class="lead">Materia: Aplicaciones distribuidas</p>
                    <p class="lead">NRC: 15358</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-center">
                    <h1 class="display-4"><i class="bi bi-terminal"></i> C# ASP.NET Core <i class="bi bi-terminal"></i></h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
